$primary-red: hsl(10, 79%, 65%);
$primary-blue: hsl(186, 34%, 65%);
$neutral-dark-brown: hsl(25, 47%, 15%);
$neutral-light-brown: hsl(28, 10%, 53%);
$neutral-red: hsl(26, 66%, 93%);
$font-size: 18px;
$font-family: "DM Sans", sans-serif;