@import'./global.scss';

.soldeSection{
    display: flex;
    background: $primary-red;
    width: 450px;
    justify-content: space-between;
    border-radius: 20px;
    color: #fff;
    padding: 10px 30px;
    margin-top: 60px;
    article{
        line-height: 16px;
    }
}

@media screen and (max-width:767px){
   
    .soldeSection{
        width: 80%;
    }
}